
@media (max-width: 899px) {
  .main-sidebar-left {
    top: 3.2em !important;
    position: fixed;
    overflow-y: scroll !important;
  }
  
  .topbar-menu-text {
    font-size: 1.5em;
  }

  .main-body-segment {
    background: #eacda3 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #d6ae7b, #eacda3) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #d6ae7b, #eacda3) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 20px !important;
    padding-right: 75px !important;
    min-height: 1000px !important;
    top: 25px;
  }

  .main-pushable-segment {
    overflow-y: auto;
    min-height: 100vh !important;
  }
}

@media (min-width: 900px) {
  .main-sidebar-left {
    top: 3.2em !important;
    position: fixed;
    overflow-y: scroll !important;
  }

  .main-body-segment {
    background: #eacda3 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #d6ae7b, #eacda3) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #d6ae7b, #eacda3) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 20px !important;
    margin-right: 100px !important;
    padding-right: 75px !important;
    min-height: 1000px !important;
    top: 25px
  }

  .main-pushable-segment {
    overflow-y: auto;
  }
}

