
.red-blink {
  background-color: rgb(255, 0, 0) !important;
  border: solid rgb(255, 0, 0) 3px !important;
}

.blue-blink {
  background-color: rgb(13, 0, 255) !important;
  border: solid rgb(13, 0, 255) 3px !important;
}

.green-blink {
  background-color: rgb(0, 255, 30) !important;
  border: solid rgb(0, 255, 30) 3px !important;
}

.yellow-blink {
  background-color: rgb(255, 247, 0) !important;
  border: solid rgb(255, 247, 0) 3px !important;
}

.block-image {
  width: 7em;
  height: 7em;
}

@media (min-width: 900px) {
  .simon-says-button {
    margin-right: 2em !important;
  }
}

@media (max-width: 899px) {
  .simon-says-button {
    margin-right: 2em !important;    
    margin-bottom: 1em !important;    
  }
}

/* ----- EASY DIFFICULTY ----- */

#red-easy {
  position: absolute;
  left: 30vw;
  top: 35vh;
  background-color: rgb(170, 0, 0);
  width: 7em;
  height: 7em;
}

#green-easy {
  position: absolute;
  left: calc(30vw + 8em);
  top: 35vh;
  background-color: rgb(0, 140, 0);
  width: 7em;
  height: 7em;
}

#blue-easy {
  position: absolute;
  left: 30vw;
  top: calc(35vh + 8em);
  background-color: rgb(0, 0, 182);
  width: 7em;
  height: 7em;
}

#yellow-easy {
  position: absolute;
  left: calc(30vw + 8em);
  top: calc(35vh + 8em);;
  background-color: rgb(199, 199, 0);
  width: 7em;
  height: 7em;
}

/* ----- MEDIUM DIFFICULTY ----- */

#red-medium {
  position: absolute;
  left: 35vw;
  top: 40vh;
  background-color: rgb(170, 0, 0);
  width: 7em;
  height: 7em;

  /*
    * CSS Please is your friend for ensuring cross browser syntax
    */
  -webkit-animation: orbit1 8s linear infinite; /* Chrome, Safari 5 */
      -moz-animation: orbit1 8s linear infinite; /* Firefox 5-15 */
        -o-animation: orbit1 8s linear infinite; /* Opera 12+ */
          animation: orbit1 8s linear infinite; /* Chrome, Firefox 16+, 
                                                     IE 10+, Safari 5 */
}

@-webkit-keyframes orbit1 {
	from { 	-webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes orbit1 {
	from { 	-moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
	to   {  -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes orbit1 {
	from { 	-o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
	to   {  -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes orbit1 {
	from { 	transform: rotate(0deg) translateX(150px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}


#green-medium {
  position: absolute;
  left: 35vw;
  top: 40vh;
  background-color: rgb(0, 140, 0);
  width: 7em;
  height: 7em;

  /*
    * CSS Please is your friend for ensuring cross browser syntax
    */
  -webkit-animation: orbit2 8s linear infinite; /* Chrome, Safari 5 */
      -moz-animation: orbit2 8s linear infinite; /* Firefox 5-15 */
        -o-animation: orbit2 8s linear infinite; /* Opera 12+ */
          animation: orbit2 8s linear infinite; /* Chrome, Firefox 16+, 
                                                     IE 10+, Safari 5 */
}

@-webkit-keyframes orbit2 {
	from { 	-webkit-transform: rotate(0deg) translateY(150px) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateY(150px) rotate(-360deg); }
}

@-moz-keyframes orbit2 {
	from { 	-moz-transform: rotate(0deg) translateY(150px) rotate(0deg); }
	to   {  -moz-transform: rotate(360deg) translateY(150px) rotate(-360deg); }
}

@-o-keyframes orbit2 {
	from { 	-o-transform: rotate(0deg) translateY(150px) rotate(0deg); }
	to   {  -o-transform: rotate(360deg) translateY(150px) rotate(-360deg); }
}

@keyframes orbit2 {
	from { 	transform: rotate(0deg) translateY(150px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateY(150px) rotate(-360deg); }
}



#blue-medium {
  position: absolute;
  left: 35vw;
  top: 40vh;
  background-color: rgb(0, 0, 182);
  width: 7em;
  height: 7em;

  /*
    * CSS Please is your friend for ensuring cross browser syntax
    */
  -webkit-animation: orbit3 8s linear infinite; /* Chrome, Safari 5 */
      -moz-animation: orbit3 8s linear infinite; /* Firefox 5-15 */
        -o-animation: orbit3 8s linear infinite; /* Opera 12+ */
          animation: orbit3 8s linear infinite; /* Chrome, Firefox 16+, 
                                                     IE 10+, Safari 5 */
}

@-webkit-keyframes orbit3 {
	from { 	-webkit-transform: rotate(0deg) translateX(-150px) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateX(-150px) rotate(-360deg); }
}

@-moz-keyframes orbit3 {
	from { 	-moz-transform: rotate(0deg) translateX(-150px) rotate(0deg); }
	to   {  -moz-transform: rotate(360deg) translateX(-150px) rotate(-360deg); }
}

@-o-keyframes orbit3 {
	from { 	-o-transform: rotate(0deg) translateX(-150px) rotate(0deg); }
	to   {  -o-transform: rotate(360deg) translateX(-150px) rotate(-360deg); }
}

@keyframes orbit3 {
	from { 	transform: rotate(0deg) translateX(-150px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(-150px) rotate(-360deg); }
}



#yellow-medium {
  position: absolute;
  left: 35vw;
  top: 40vh;
  background-color: rgb(199, 199, 0);
  width: 7em;
  height: 7em;

  /*
    * CSS Please is your friend for ensuring cross browser syntax
    */
  -webkit-animation: orbit4 8s linear infinite; /* Chrome, Safari 5 */
      -moz-animation: orbit4 8s linear infinite; /* Firefox 5-15 */
        -o-animation: orbit4 8s linear infinite; /* Opera 12+ */
          animation: orbit4 8s linear infinite; /* Chrome, Firefox 16+, 
                                                     IE 10+, Safari 5 */
}

@-webkit-keyframes orbit4 {
	from { 	-webkit-transform: rotate(0deg) translateY(-150px) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateY(-150px) rotate(-360deg); }
}

@-moz-keyframes orbit4 {
	from { 	-moz-transform: rotate(0deg) translateY(-150px) rotate(0deg); }
	to   {  -moz-transform: rotate(360deg) translateY(-150px) rotate(-360deg); }
}

@-o-keyframes orbit4 {
	from { 	-o-transform: rotate(0deg) translateY(-150px) rotate(0deg); }
	to   {  -o-transform: rotate(360deg) translateY(-150px) rotate(-360deg); }
}

@keyframes orbit4 {
	from { 	transform: rotate(0deg) translateY(-150px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateY(-150px) rotate(-360deg); }
}

/* ----- HARD DIFFICULTY ----- */

.box {
  background-color: #ffffff;
  margin: 0 auto;
  width: 70vw;
  height: 70vh;
  position: relative;
  box-shadow: inset 0 0 3px #000;
  border-radius: 5px;
  border: 1px solid #111;
  overflow: hidden;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: calc(70vw - 7em); }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: calc(70vw - 7em); }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: calc(70vw - 7em); }
}
@keyframes moveX {
  from { left: 0; } to { left: calc(70vw - 7em); }
}


@-webkit-keyframes moveY {
  from { top: 0; } to { top: calc(80vh - 7em); }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: calc(80vh - 7em); }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: calc(80vh - 7em); }
}
@keyframes moveY {
  from { top: 0; } to { top: calc(80vh - 7em); }
}

.box #red-hard {
  display: block;
  background-color: rgb(170, 0, 0);
  width: 7em;
  height: 7em;
  position: absolute;

  -webkit-animation: moveX 3.5s linear 0s infinite alternate, moveY 3.1s linear 0s infinite alternate;;
  -moz-animation: moveX 3.5s linear 0s infinite alternate, moveY 3.1s linear 0s infinite alternate;;
  -o-animation: moveX 3.5s linear 0s infinite alternate, moveY 3.1s linear 0s infinite alternate;;
  animation: moveX 3.5s linear 0s infinite alternate, moveY 3.1s linear 0s infinite alternate;;
}

.box #green-hard {
  display: block;
  background-color: rgb(0, 140, 0);
  width: 7em;
  height: 7em;
  position: absolute;

  -webkit-animation: moveX 4.5s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;;
  -moz-animation: moveX 4.5s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;;
  -o-animation: moveX 4.5s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;;
  animation: moveX 4.5s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;;
}

.box #blue-hard {
  display: block;
  background-color: rgb(0, 0, 182);
  width: 7em;
  height: 7em;
  position: absolute;

  -webkit-animation: moveX 3s linear 0s infinite alternate, moveY 4.4s linear 0s infinite alternate;;
  -moz-animation: moveX 3s linear 0s infinite alternate, moveY 4.4s linear 0s infinite alternate;;
  -o-animation: moveX 3s linear 0s infinite alternate, moveY 4.4s linear 0s infinite alternate;;
  animation: moveX 3s linear 0s infinite alternate, moveY 4.4s linear 0s infinite alternate;;
}

.box #yellow-hard {
  display: block;
  background-color: rgb(199, 199, 0);
  width: 7em;
  height: 7em;
  position: absolute;

  -webkit-animation: moveX 4.3s linear 0s infinite alternate, moveY 4.7s linear 0s infinite alternate;;
  -moz-animation: moveX 4.3s linear 0s infinite alternate, moveY 4.7s linear 0s infinite alternate;;
  -o-animation: moveX 4.3s linear 0s infinite alternate, moveY 4.7s linear 0s infinite alternate;;
  animation: moveX 4.3s linear 0s infinite alternate, moveY 4.7s linear 0s infinite alternate;;
}

/* ----- EXTREME DIFFICULTY ----- */

.box #red-extreme {
  display: block;
  background-color: rgb(170, 0, 0);
  width: 7em;
  height: 7em;
  position: absolute;

  -webkit-animation: moveX 2.1s linear 0s infinite alternate, moveY 2.3s linear 0s infinite alternate;;
  -moz-animation: moveX 2.1s linear 0s infinite alternate, moveY 2.3s linear 0s infinite alternate;;
  -o-animation: moveX 2.1s linear 0s infinite alternate, moveY 2.3s linear 0s infinite alternate;;
  animation: moveX 2.1s linear 0s infinite alternate, moveY 2.3s linear 0s infinite alternate;;
}

.box #green-extreme {
  display: block;
  background-color: rgb(0, 140, 0);
  width: 7em;
  height: 7em;
  position: absolute;

  -webkit-animation: moveX 1.9s linear 0s infinite alternate, moveY 2.1s linear 0s infinite alternate;;
  -moz-animation: moveX 1.9s linear 0s infinite alternate, moveY 2.1s linear 0s infinite alternate;;
  -o-animation: moveX 1.9s linear 0s infinite alternate, moveY 2.1s linear 0s infinite alternate;;
  animation: moveX 1.9s linear 0s infinite alternate, moveY 2.1s linear 0s infinite alternate;;
}

.box #blue-extreme {
  display: block;
  background-color: rgb(0, 0, 182);
  width: 7em;
  height: 7em;
  position: absolute;

  -webkit-animation: moveX 1.7s linear 0s infinite alternate, moveY 2.6s linear 0s infinite alternate;;
  -moz-animation: moveX 1.7s linear 0s infinite alternate, moveY 2.6s linear 0s infinite alternate;;
  -o-animation: moveX 1.7s linear 0s infinite alternate, moveY 2.6s linear 0s infinite alternate;;
  animation: moveX 1.7s linear 0s infinite alternate, moveY 2.6s linear 0s infinite alternate;;
}

.box #yellow-extreme {
  display: block;
  background-color: rgb(199, 199, 0);
  width: 7em;
  height: 7em;
  position: absolute;

  -webkit-animation: moveX 2.3s linear 0s infinite alternate, moveY 1.8s linear 0s infinite alternate;;
  -moz-animation: moveX 2.3s linear 0s infinite alternate, moveY 1.8s linear 0s infinite alternate;;
  -o-animation: moveX 2.3s linear 0s infinite alternate, moveY 1.8s linear 0s infinite alternate;;
  animation: moveX 2.3s linear 0s infinite alternate, moveY 1.8s linear 0s infinite alternate;;
}

.box #dog-extreme {
  display: block;
  width: 7em;
  height: 7em;
  position: absolute;

  /* background: url("/assests/dog.png") no-repeat center center fixed; */
  background-color: rgba(0, 0, 0, 0.289);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-animation: moveX 3.8s linear 0s infinite alternate, moveY 3.9s linear 0s infinite alternate;;
  -moz-animation: moveX 3.8s linear 0s infinite alternate, moveY 3.9s linear 0s infinite alternate;;
  -o-animation: moveX 3.8s linear 0s infinite alternate, moveY 3.9s linear 0s infinite alternate;;
  animation: moveX 3.8s linear 0s infinite alternate, moveY 3.9s linear 0s infinite alternate;;
}

.box #cat-extreme {
  display: block;
  width: 7em;
  height: 7em;
  position: absolute;

  /* background: url("/assests/cat.png") no-repeat center center fixed; */
  background-color: rgba(0, 0, 0, 0.227);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-animation: moveX 3.3s linear 0s infinite alternate, moveY 4.1s linear 0s infinite alternate;;
  -moz-animation: moveX 3.3s linear 0s infinite alternate, moveY 4.1s linear 0s infinite alternate;;
  -o-animation: moveX 3.3s linear 0s infinite alternate, moveY 4.1s linear 0s infinite alternate;;
  animation: moveX 3.3s linear 0s infinite alternate, moveY 4.1s linear 0s infinite alternate;;
}

.box #cow-extreme {
  display: block;
  width: 7em;
  height: 7em;
  position: absolute;

  /* background: url("/assests/cow.png") no-repeat center center fixed; */
  background-color: rgba(0, 0, 0, 0.227);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-animation: moveX 4.1s linear 0s infinite alternate, moveY 3.7s linear 0s infinite alternate;;
  -moz-animation: moveX 4.1s linear 0s infinite alternate, moveY 3.7s linear 0s infinite alternate;;
  -o-animation: moveX 4.1s linear 0s infinite alternate, moveY 3.7s linear 0s infinite alternate;;
  animation: moveX 4.1s linear 0s infinite alternate, moveY 3.7s linear 0s infinite alternate;;
}